*{margin:0;padding:0; }
 

 .login-title {
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
    color: #970000;
}

.login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.login-form input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 5px;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 15px;
}

.login-form .check-box input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #363f4d;
    margin: 0;
}

.page-section {
    margin-top: 80px;
}

.register-button {
    display: block;
    margin-top: 40px;
    width: 140px;
    border-radius: 0;
    height: 36px;
    border: none;
    line-height: 24px;
    padding: 6px 20px;
    float: left;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #970000;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.register-button:hover {
    background: #fed700;
}

.login-form {
    background-color: #ffffff;
    padding: 30px;
    -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
}

.passwordform {
    padding-left: 16px;
}

.rememberme {
    display: inline-block;
    clear:both;
}

.contact {
    font-size: 15px;
    color: brown;
}